<form [formGroup]="enigm1Form" (ngSubmit)="onSubmit()">
  <div class="ui-fluid ui-g-12 card card-w-title ui-fluid">
    <h1 style="display: flex; flex-direction: row; font-size: 20px;line-height: 2em">Hack the password<p style="font-weight: 900;margin: unset; margin-left: 5px;margin-right: 5px; color: white">
      UHJpYW0gRmFsYW50aW4=</p></h1>
    <div class="ui-g" style="display: flex">
      <div class="ui-g-12 card card-w-title ui-fluid ui-center">
        <p-growl [value]="messages"></p-growl>
        <input type="password" pPassword formControlName="pwd" placeholder="Enter a password"/>
      </div>
    </div>
  </div>
  <button pButton type="submit" label="Submit" class="ui-shadow-2"></button>
  <div class="ui-fluid ui-grey" style="position: fixed; bottom: 10px; display: flex;margin: auto" *ngIf="showAnswer">
    <input type="text" style="margin: auto" pInputText disabled value="49.093289, 6.129624"/>
  </div>
</form>
