<div class="layout-menu-wrapper ui-shadow-3">
  <p-scrollpanel>
    <div class="ui-scrollpanel ui-widget ui-widget-content ui-corner-all" style="height: 100%;">
      <div class="ui-scrollpanel-wrapper">
        <div class="ui-scrollpanel-content">

          <div class="layout-menu-container">

            <ul app-submenu="" class="layout-menu" root="true" visible="true">
              <li>
                <a routerLink="/" routerLinkActive="active">
                  <span class="ng-tns-c1-0">{{model[0].label}}</span>
                </a>
              </li>
              <li>
                <a routerLink="/enigm1" routerLinkActive="active">
                  <span class="ng-tns-c1-0">{{model[1].label}}</span>
                </a>
              </li>
              <li>
                <a routerLink="/enigm2" routerLinkActive="active">
                  <span class="ng-tns-c1-0">{{model[2].label}}</span>
                </a>
              </li>
              <li>
                <a routerLink="/enigm3" routerLinkActive="active">
                  <span class="ng-tns-c1-0">{{model[3].label}}</span>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </p-scrollpanel>
</div>
